<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrickmukiira.salonapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/salon"
        android:label="Ashley's Hair and Beauty Palour"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".DisplayListView" />
        <activity android:name=".Services" />
        <activity android:name=".Book" />
        <activity android:name=".Help" />
        <activity android:name=".Money" />
        <activity android:name=".Price" />-
        <activity android:name=".AboutUus"></activity>
    </application>

</manifest>